<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<div th:fragment="tabelaPesquisaCliente" id="tabelaPesquisaCliente">
	<div class="container-fluid">
		<div class="table-responsive">
			<table id="tabelaCliente"
				class="col-md-12 table-striped table-bordered table-hover"
				style="width: 100%">
				<thead>
					<tr>
						<th style="text-align: center;height: 30px">Id</th>
						<th style="text-align: center;height: 30px">Nome</th>
						<th style="text-align: center;height: 30px">E-mail</th>
					</tr>
				</thead>
				<tbody>		
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>