<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
<title>Pagina de Cadastro de Usuarios</title>
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Usuario
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrum-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrum-item"><a
					th:href="@{/usuario/list_usuario}">Listar Usuarios</a></li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="tile">
				<h3 class="tile-title">Registro</h3>
				<div class="tite-body">
					<form th:object=${usuario}
						th:action="${idUsuario == null} ? @{/usuario/salvar_usuario} : @{/usuario/editar_usuario}"
						method="POST" autocomplete="off">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/validacao :: validacao"></div>
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="username" class="control-label">Nome: </label><input
										class="form-control" type="text" id="username" name="username"
										th:field="*{username}"
										th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' " />
									<div class="invalid-feedback">
										<span th:errors="*{username}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="emailUsuario" class="control-label">Email: </label> <input
										class="form-control" type="text" th:field="*{emailUsuario}"
										id="emailUsuario" name="emailUsuario"
										th:classappend="${#fields.hasErrors('emailUsuario')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{emailUsuario}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="password" class="control-label">Senha: </label> <input
										class="form-control" type="password" th:field="*{password}"
										id="password" name="password"
										th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{password}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="contraSenha" class="control-label">Digite a Senha novamente: </label> <input
										class="form-control" type="password" th:field="*{contraSenha}"
										id="contraSenha" name="contraSenha"
										th:classappend="${#fields.hasErrors('contraSenha')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{contraSenha}"></span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="ativo" class="control-label">Status: </label>
									<div class="make-switch switch-large">
									<input
										class="form-control js-status" type="checkbox" 
										th:field="*{ativo}"
										data-off-color="danger"
										data-on-text="Ativo"
										data-off-text="Inativo"
										id="ativo" name="ativo"
										 />
									</div>
									 
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="role" class="control-label">Funções: </label> 									
										<input type="checkbox" class="form-control" th:field="*{role}" id="role" name="role" 
											th:each="rol : ${roles}" th:value="${rol.idRole}"
											th:text="${rol.nomeRole}"
											th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'" />		
									<div class="invalid-feedback">
										<span th:errors="*{role}"></span>
									</div>
								</div>
							</div>
						</div>
						
						<input type="hidden" th:field="*{idUsuario}" />
						<div class="tile-footer">
							<button class="btn btn-primary" type="submit">
								<b>Salvar </b><span class="fa fa-check-circle fa-3x"></span>
							</button>
							<button class="btn btn-dark" type="submit" name="action" value="cancelar">
								<b>Cancelar </b><span class="fa fa-trash fa-3x"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>