<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Pagina de Cadastro de Cliente Pessoa Fisica</title>
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Cliente Pessoa Fisica
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrum-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrum-item"><a
					th:href="@{/cliente_pessoa_fisica/lista_cliente_pessoa_fisica}">Listar
						Clientes</a></li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="tile">
				<h3 class="tile-title">Registro</h3>
				<div class="tile-body">
					<form th:object=${clientePessoaFisica}
						th:action="${id == null} ? @{/cliente_pessoa_fisica/salvar_cliente_pessoa_fisica} : @{/cliente_pessoa_fisica/editar_cliente_pessoa_fisica}"
						method="POST" autocomplete="off">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/validacao :: validacao"></div>
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="dateNasc" class="control-label">Data
										Nascimento: </label><input class="form-control" data-mask="00/00/0000" placeholder="Ex.: dd/mm/aaaa" type="text"
										id="dateNasc" name="dateNasc" th:field="*{dateNasc}"
										th:classappend="${#fields.hasErrors('dateNasc')} ? 'is-invalid' " />
									<div class="invalid-feedback">
										<span th:errors="*{dateNasc}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="nomePai" class="control-label">Nome do Pai:
									</label> <input class="form-control" type="text" th:field="*{nomePai}"
										id="nomePai" name="nomePai"
										th:classappend="${#fields.hasErrors('nomePai')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{nomePai}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="nomeMae" class="control-label">Nome da Mãe:
									</label> <input class="form-control" type="text" th:field="*{nomeMae}"
										id="nomeMae" name="nomeMae"
										th:classappend="${#fields.hasErrors('nomeMae')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{nomeMae}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="sexo" class="control-label">Sexo: </label> <select
										class="form-control" th:field="*{sexo}" id="sexo" name="sexo">
										<option value="">Selecione uma opção</option>
										<option th:each="sexo : ${sexos}" th:value="${sexo}"
											th:text="${sexo.descricao}"
											th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'"></option>
									</select>
									<div class="invalid-feedback">
										<span th:errors="*{sexo}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="cpf" class="control-label">CPF: </label> <input
										class="form-control" type="text" data-mask="000.000.000-00" th:field="*{cpf}" id="cpf"
										name="cpf"
										th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{cpf}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="nome" class="control-label">Nome: </label>
									<div class="input-group">
										<span class="input-group-prepend"> <span
											class="input-group-text fa fa-list fa-lg"></span>
										</span> <input class="form-control" type="text" 
											th:field="*{cliente.nome}" id="nome" name="nome"
											th:classappend="${#fields.hasErrors('cliente.nome')} ? 'is-invalid'" />
											<input type="hidden" id="codigoCliente" th:field="*{cliente}"/>
										<span class="input-group-append">
											<button class="btn btn-default" type="button"
												data-toggle="modal" data-target="#pesquisaCliente">
												<i class="fa fa-search fa-lg"></i>
											</button>
											<button class="btn btn-default" type="button"
												data-toggle="modal" data-target="#cadastrarCliente">
												<i class="fa fa-plus fa-lg"></i>
											</button>
										</span>
										<div class="invalid-feedback">
											<span th:errors="*{cliente.nome}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" th:field="*{id}" />
						<div class="tile-footer">
							<button class="btn btn-primary" type="submit">
								<b>Salvar </b><span class="fa fa-check-circle fa-3x"></span>
							</button>
							<button type="submit"  class="btn btn-dark" value="cancelar" name="action">
								<b>Cancelar </b><span class="fa fa fa-trash fa-3x"></span>
							</button>
						</div>
						<th:block
							th:replace="fragments/PesquisaCliente :: pesquisaCliente">
						</th:block>
						<th:block
							th:replace="fragments/cadastraCliente :: cadastrarCliente">
						</th:block>
					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/datatable/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/datatable/dataTables.select.min.js}"></script>
		<script th:src="@{/js/datatable/dataTables.bootstrap4.min.js}"></script>
		<script>
			$(document).ready(function(){
	        	   $('#tabela_cliente').hide();
	        	   $('#erro').hide();
	        	   $('#sucesso').hide();
	        	   $('#erroPesquisa').hide();
	        	   
	        	   var nomeCliente   = $('#nome');
	        	   var erroNome     = $('#erroNome');
	        	   var showErroNome = $('#showErroNome');
	        	   
	        	   var emailCliente    = $('#emailClientePessoa');
	        	   var erroEmail      = $('#erroEmail');
	        	   var showErroEmail = $('#showErroEmail');
	        	   
	        	   nomeCliente.blur(function(){
	        		   if ($.trim(nomeCliente.val()).length==0){
	        			   nomeCliente.addClass('is-invalid');
	                       erroNome.addClass('invalid-feedback');
	                       showErroNome.html('O nome deve ser informado').show();
	                       nomeCliente.focus();
	        		   } else {
	                       nomeCliente.removeClass('is-invalid');
	                       erroNome.removeClass('invalid-feedback');
	                       showErroNome.html('').hide();
	        		   }
	        	   });	        	   
	        	   emailClientePessoa.blur(function(){	   
	        	   });
	        	   
	           });
	           
	           $('#cadastrarCliente').find('#btnCancelarCliente').on('click',function(event){
	        	   event.preventDefault();
	        	   onResetForm(this);
	           });
	           
	           $('#cadastrarCliente').find('#btnSalvarCliente').on('click', function(event){
	        	   event.preventDefault();

	        	   var pessoa = {
	        		   'nome': $('#nomeClientePessoa').val(),
	        		   'email': $('#emailClientePessoa').val(),  	   
	        	   };
	        	   $.ajax({
	        		   url:'/rest/cliente/salvar_cliente',
	        		   method:'POST',
	        		   data:JSON.stringify(pessoa),
	        		   dataType:'JSON',
	        		   contentType:'application/json; charset=utf-8',
	        		   success: function(data){
	        			   if(data.validate){
	        				   $('#sucesso').removeClass('hidden');
	        				   $('#sucesso').show(data.mensagem);
	        				   $('#erro').addClass('hidden');
	        				   $('#codigoCliente').val(data.idClasse);
	        				   $('#nome').val($('#nomeClientePessoa').val());
	        				   setTimeout(onResetForm(this), 2000);
	        			   }else{
	        				 $('#erro').removeClass('hidden');
	        				 var erroInfo = "";
	        				 $.each(data.erroMensagem, function(key, value){
	        					 erroInfo += "<br>" + '<i class="fa fa-info-circle"></i>' + '&nbsp;' +value;
	        					 erroCampo(key,value);
	        				 });
	        				 $('#erro').html('Verifique' + erroInfo);
	        				 $('#erro').show('slow');
	        			   }
	        		   },
	        		   error:function(jqXHR, textStatus, errorThrown){
	        			   alert('Erro no processamento');
	        		   }
	        	   }); 
	        	   
	           });
	           
	           function onResetForm(){
	        	   $('#sucesso').addClass('hidden');
	        	   $('#sucesso').html('').hide();
	        	   $('#erro').html('').hide();
	        	   $('#formCadastroCliente').trigger('reset');
	        	   $('#nomeClientePessoa').removeClass('is-invalid');
	        	   $('#erroNome').removeClass('invalid-feedback');
	        	   $('#showErroNome').html('').hide();
	        	   $('#emailClientePessoa').removeClass('is-invalid');
	        	   $('#erroEmail').removeClass('invalid-feedback');
	        	   $('#showErroEmail').html('').hide();
	        	   $('#cadastrarCliente').modal('hide');
	        	   $('#nomeClientePessoa').val('');
	        	   $('#emailClientePessoa').val('');
	           };
	           function erroCampo(key, value){
	        	   if(key == "nome"){
	        		   $('#nomeClientePessoa').addClass('is-invalid');
	        		   $('#erroNome').addClass('invalid-feedback');
					   $('#showErroNome').html(value).show();
	        	   }
	        	   if(key == "email"){
	        		   $('#emailClientePessoa').addClass('is-invalid');
	        		   $('#erroEmail').addClass('invalid-feedback');
					   $('#showErroEmail').html('O email deve ser informado').show();
	        	   }
	           };
	           
	           $('#btnBusca').on('click',function(event){
	        	   
	        	   event.preventDefault();
	        	   $.ajax({
	        		   url:'/rest/cliente',
	        		   method:'GET',
	        		   data:{
	        			 nome:$('#nomeCliente').val() 
	        		   },
	        		   dataType:'JSON',
	        		   contentType:'application/json; charset=utf-8',
	        		   success: function(data){
	        			   pesquisaConcluida(data);
	        			   $('#erroPesquisa').html('').hide();
	        		   },
	        		   error:function(jqXHR, textStatus, errorThrown){
	        			   $('#erroPesquisa').removeClass('hidden');
	        			   $('#erroPesquisa').html('Informe pelo menos 3 caracteres').show('slow');
	        		   }
	        	   }); 
	        	   
	        	   
	        	   $('#pesquisaCliente').keyup(function(event){
	        		   var tecla = event.which;
	        		   console.log(tecla); 
	        	   });
	        	   
	        	   
	        	   function pesquisaConcluida(resultado){
	        		   $('#tabela_cliente').show();
	        		   var tabelaCliente= $('#tabelaCliente').DataTable({
	        				
	        				select : true,
	        				destroy: true,
	        				data : resultado,
	        				lengthMenu : [ 5, 10, 25 ],
	        				searching : true,
	        	     		paging : true,
	        				aaSorting : [ [ 1, 'desc' ],[ 2, 'asc' ] ], // Optional
	        				responsive : true,
	        				bAutoWidth : true,
	        				orderable : true,
	        				pagingType : "full_numbers",
	        				order : [ [ 1, 'asc' ] ],
	        				columns : [{"data":"id"},{"data":"nome"},{"data":"email"},],
	        				
	        				"language": {
	        					"sEmptyTable": "Nenhum registro encontrado",
	        				    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
	        				    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
	        				    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
	        				    "sInfoPostFix": "",
	        				    "sInfoThousands": ".",
	        				    "sLengthMenu": "_MENU_ resultados por página",
	        				    "sLoadingRecords": "Carregando...",
	        				    "sProcessing": "Processando...",
	        				    "sZeroRecords": "Nenhum registro encontrado",
	        				    "sSearch": "Pesquisar",
	        				    "oPaginate": {
	        				        "sNext": "Próximo",
	        				        "sPrevious": "Anterior",
	        				        "sFirst": "Primeiro",
	        				        "sLast": "Último"
	        				    },
	        				    "oAria": {
	        				        "sSortAscending": ": Ordenar colunas de forma ascendente",
	        				        "sSortDescending": ": Ordenar colunas de forma descendente"
	        				    }
	        		        }
	        				
	        				
	        			});
	        			$('#tabelaCliente tbody').on('click', 'tr', function(event) {
	        			   event.preventDefault();
	        			    let indice = tabelaCliente.row(this).index();
	           			    let cliente = tabelaCliente.row(indice).data();  

	        				$('#nome').val(cliente.nome); 
	        				$('#codigoCliente').val(cliente.id);
	        				$('#nomeCliente').val('');		
	        				$('#pesquisaCliente').modal('hide');
	        				$('#tabela_cliente').hide();
	        				
	        				if($.fn.DataTable.isDataTable('#tabelaCliente')){
	        					$('#tabelaCliente').DataTable().destroy();
	        					$('#tabelaCliente').DataTable().clear();
	        				}
	        			});
	        	   }
	           });
		</script>
	</th:block>
</body>
</html>