<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Pagina de Cadastro de Categoria</title>
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de categoria
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrum-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrum-item"><a
					th:href="@{/categoria/list_categoria}">Listar Categorias</a></li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="tile">
				<h3 class="tile-title">Registro</h3>
				<div class="tite-body">
					<form th:object=${categoria}
						th:action="${id == null} ? @{/categoria/salvar_categoria} : @{/categoria/editar_categoria}"
						method="POST" autocomplete="off">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/validacao :: validacao"></div>
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="nome" class="control-label">Nome: </label><input
										class="form-control" type="text" id="nome" name="nome"
										th:field="*{nome}"
										th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' " />
									<div class="invalid-feedback">
										<span th:errors="*{nome}"></span>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" th:field="*{id}" />
						<div class="tile-footer">
							<button class="btn btn-primary" type="submit">
								<b>Salvar </b><span class="fa fa-check-circle fa-3x"></span>
							</button>
							<a class="btn btn-dark" th:href="@{/categoria/list_categoria}"><i
								class="fa fa-trash"></i>Cancelar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>