<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Pagina de Cadastro de Cliente Gerais</title>
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Cliente
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrum-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrum-item"><a
					th:href="@{/cliente/list_cliente}">Listar Clientes</a></li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="tile">
				<h3 class="tile-title">Registro</h3>
				<div class="tite-body">
					<form th:object=${cliente}
						th:action="${id == null} ? @{/cliente/salvar_cliente} : @{/cliente/editar_cliente}"
						method="POST" autocomplete="off" id="form1">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div th:replace="fragments/validacao :: validacao"></div>
								<div th:replace="fragments/alert"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="nome" class="control-label">Nome: </label><input
										class="form-control" type="text" id="nome" name="nome"
										th:field="*{nome}"
										th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid' " />
									<div class="invalid-feedback">
										<span th:errors="*{nome}"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label for="email" class="control-label">Email: </label> <input
										class="form-control" type="text" th:field="*{email}"
										id="email" name="email"
										th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
									<div class="invalid-feedback">
										<span th:errors="*{email}"></span>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" th:field="*{id}" />
						<div class="tile-footer">
							<button class="btn btn-primary" type="submit" name="action"
								value="salvar">
								<b>Salvar </b><span class="fa fa-check-circle fa-3x"></span>
							</button>
							<button class="btn btn-dark" type="submit" name="action"
								value="cancelar">
								<b>Cancelar </b><span class="fa fa-trash fa-3x"></span>
							</button>
						</div>
						<div th:if="${cliente.id} != 0">
							<table class="table table-striped table-bordered table-hover">
								<tr>
									<th style="width: 40px; font-weight: bold; text-align: center">Tipo
										Contato</th>
									<th style="width: 40px; font-weight: bold; text-align: center">Tipo
										Telefone</th>
									<th style="width: 40px; font-weight: bold; text-align: center">Número
										Telefone</th>
									<th style="width: 40px; font-weight: bold; text-align: center">Ação</th>
								</tr>
								<tr th:each="listaTelefones, rowStat : *{listaTelefones}">
									
									<td style="width: 40px; font-weight: bold; text-align: center">
									<input type="hidden" th:field="*{listaTelefones[__${rowStat.index}__].id}"/>
										<select
										th:field="*{listaTelefones[__${rowStat.index}__].tipoContato}">
											<option value="">Selecione</option>
											<option th:each="tipo : ${tipoContatos}" th:value="${tipo}"
												th:text="${tipo.descricao}"></option>
									</select>
									</td>
									<td style="width: 40px; font-weight: bold; text-align: center">
										<select
										th:field="*{listaTelefones[__${rowStat.index}__].tipoTelefone}">
											<option value="">Selecione</option>
											<option th:each="tipoFone : ${tipoTelefones}"
												th:value="${tipoFone}" th:text="${tipoFone.descricao}"></option>
									</select>
									</td>
									<td style="width: 40px; font-weight: bold; text-align: center">
										<input type="text" class="form-control js-formatTelefone"
										th:field="*{listaTelefones[__${rowStat.index}__].numeroTelefone}" />
									</td>
									<td style="width: 40px; font-weight: bold; text-align: center">
										<button class="btn btn-danger" type="submit" name="removerow"
											value="removerow" th:value="${rowStat.index}">
											<i class="fa fa-minus" style="color: white"></i>
										</button>
									</td>
								</tr>
							</table>
							<div class="row">
								<div class="form-group"
									th:if="${#lists.size(cliente.listaTelefones)} &lt; 4">
									<div class="col-sm-2">
										<button class="modal-basic btn btn-primary" type="submit"
											name="addrow" value="addrow"
											th:disabled="${#lists.size(cliente.listaTelefones)} >= 4">
											Novo Contato <i class="fa fa-fw fa-lg fa-check-circle"
												style="color: white"></i>
										</button>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<button class="modal-basic btn btn-success" type="submit"
											name="fone" value="fone">
											Salvar Contato <i class="fa fa-fw fa-lg fa-check-circle"
												style="color: white"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script>
			$(function(){
				
				var configureMascaraTelefone = function(val){
					return val.replace(/\D/g,'').length == 11 ? '(00) 00000-0000' : '(00) 0000-00009';
				}
				opcao = {
					onkeyPress: function(val, e, field, options){
						field.mask(configureMascaraTelefone.apply({}, arguments), options);
					}
				};
				
				$('.js-formatTelefone').mask(configureMascaraTelefone, opcao);
				
			});
		
		
		
		</script>
	</th:block>
</body>
</html>